.chat-bg-color {
  background-color: #212121;
}
.message-bg-color {
  background-color: #dfecf5;
}
.chatbox {
  height: calc(100vh - 118px);
}
.chat-width {
  max-width: 800px;
  padding: 0 10px;
  margin: 0 auto;
}
.chatCreate::placeholder {
  color: black;
  opacity: 1;
}

.message-input {
  border-top: 1px solid #363434;
}
