.chat-bg-color {
  background-color: #212121;
}
.message-bg-color {
  background-color: #dfecf5;
}
.chatbox {
  height: calc(100vh - 114px);
}
.chatCreate::placeholder {
  color: black;
  opacity: 1;
}

.message-input {
  border-top: 1px solid #363434;
}
