.signup-page h1 {
  color: #212121;
}

.signup-page button {
  background-color: #212121;
  color: white;
}

.signup-page button:hover {
  background-color: #383838;
}

.signup-page .ant-form-item {
  margin-bottom: 1.1rem;
}
